body {
    background-color: #eee;
  }
  
  .block-panel {
    max-width: 330px;
    padding: 15px;
  }
  .block-panel .block-panel-heading,
  .block-panel .checkbox,
  .block-panel .message-input
   {
    margin-bottom: 10px;
  }
  .block-panel .checkbox {
    font-weight: normal;
  }
  .block-panel .credentials {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .block-panel .credentials:focus {
    z-index: 2;
  }
  .block-panel input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .block-panel input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .chat-body .message{
    display: block;
    font-size: 1.2em;
  }
a {
    text-decoration: none;
}
.block-panel-heading {
    text-align: center;
} 
h1, h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 30px;
    color: inherit;
}
.block-panel {
    margin: 0 auto;
}
.btn-blue {
    display: block;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border: none;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.separate {
    margin: 0 auto;
    text-align: center;
}